Prueba_4_Enfermedades/Prueba_4_Enfermedades/Web References/localhost/Productor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://linq.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://linq.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://linq.org/">
      <s:element name="BuscarPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPorIdResult" type="tns:Enfermedad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Enfermedad">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="anioDeDescubrimiento" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPorId" />
  </wsdl:message>
  <wsdl:message name="BuscarPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductorSoap">
    <wsdl:operation name="BuscarPorId">
      <wsdl:input message="tns:BuscarPorIdSoapIn" />
      <wsdl:output message="tns:BuscarPorIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductorSoap" type="tns:ProductorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarPorId">
      <soap:operation soapAction="http://linq.org/BuscarPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductorSoap12" type="tns:ProductorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarPorId">
      <soap12:operation soapAction="http://linq.org/BuscarPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Productor">
    <wsdl:port name="ProductorSoap" binding="tns:ProductorSoap">
      <soap:address location="http://localhost:50842/Productor.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductorSoap12" binding="tns:ProductorSoap12">
      <soap12:address location="http://localhost:50842/Productor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>